:root {
    --first-main-color: #2E2F42;
    --second-main-color: #434455;
    --third-main-color: #4D5AE5;
    --hover-color: #404BBF;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
}

html{
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)); */
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    /* max-width: 1158px; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
}

.section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ----------------------------Header---------------------------------- */

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #E7E9FC; */
    background: linear-gradient(#d8d8da, #FFFFFF, #FFFFFF, #d8d8da);
    /* background: linear-gradient(#011D79, 60%, #5CA5FF) */
    /* border-bottom: 1px solid #E7E9FC; */
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    /* padding: 20px; */
}

.header-logo-img {
    width: 80px;
}

/* .header-logo-img{
    width: 100px;
} */

/* .header-logo{
    margin-right: 200px;
} */

/* .header-list {
    display: flex;
    gap: 30px;
} */

.header-list{
    display: none;
}

.header-link {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    /* color: #FFFFFF; */
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current.header-link {
    color: #e78717;
}

.current.header-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    width: 100%;
    height: 4px;
    background-color: #e78717;
    border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
    color: #e78717;
}

.header-contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus:focus {
    color: #e78717;
}

.address {
    font-style: normal;
}

.header-select {
    display: block;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding: 4px 20px;
    border: 1px solid var(--first-main-color);
    border-radius: 10px;
}

.header-select:hover,
.header-select:focus {
    background-color: #e6e6e8;
}

.header-list-languages{
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 22px;
}

.icon-open-btn {
    stroke: var(--first-main-color);
    border: none;
}

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background-color: var(--white-color); */
    /* background: linear-gradient(#d8d8da, #fff); */
    background: linear-gradient( to bottom right,#fff, #272a89);
    /* background-color: #d8d8da; */
    padding: 40px 30px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    top: 24px;
    right: 24px;
    margin-bottom: 32px;
}

.menu-close-btn {
    /* width: 100%; */
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    /* border-radius: 50%;
    background-color: #e78717;
    border: 1px solid rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon{
    width: 20px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 30px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
}

.current.mob-menu-link {
    color: #e78717;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/* -----------------------------------------------Hero------------------------------------------------ */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)), url(../images/bg-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    text-align: center;
    /* comp */
    /* padding-top: 30px;
    padding-bottom: 130px; */
    padding-top: 20px;
    padding-bottom: 200px;
}


.hero-container {
    height: 100%;

    /* add for comp  */
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

/* .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

/* .hero-logo-img {
    max-width: 100%;
    height: auto;
    width: 420px;
} */

.hero-logo-img {
    max-width: 100%;
    height: auto;
    width: 260px;
    margin: 0 auto;
}

/* .hero-content{
    margin: auto;
} */

/* .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
} */

.hero-title {
    font-size: 37px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #272a89;
    cursor: pointer;
    padding: 18px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border: 2px solid white;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: #272a89;
    cursor: pointer;
    padding: 18px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border: 2px solid white;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #e78717;
    color: #111;
} */

/* -----------------------------------------About Us---------------------------------------------- */

.aboutUs{
    background: linear-gradient(#272a89, #e78717);
    opacity: 0.5;
    width: 100%;
    height: 100vh;
}

.aboutUs-text{
    width: 500px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    /* margin-top: 50px; */
}

/* ------------------------------------------Contacts------------------------------------------------------ */

.contacts-list{
    display: flex;
    gap: 50px;
}

.contacts-item{
    /* width: calc((100% - 72px) / 3); */
    width: 400px;
    position: relative;

}

.contacts-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #272a89;
    position: absolute;
    top: -35px;
    left: 41%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* fill: var(--cloud-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts-icon{
    fill: #e78717;
}

.contacts-text{
    padding: 40px 0;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 10px;
}

.contacts-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    text-align: center;
    margin-top: 20px;
}

.contacts-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    margin: 0 auto;
    width: 250px;
    margin-top: 40px;
}

.contacts-email{
    margin-top: 25px;
}

.contacts-soc-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 25px;
}

.contacts-soc-item{
    width: 40px;
    height: 40px;
}

.contacts-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bbbcbe;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-soc-link:hover{
    background-color: #94959a;
}

/* --------------------------------------Adaptiv------------------------------------------------ */

@media screen and (min-width: 428px){
    .container{
        width: 426px;
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 766px;
    }
    .menu-open-btn {
        display: none;
    }
    .header-logo{
        margin-right: 200px;
    }
    
    .header-list {
        display: flex;
        gap: 30px;
    }

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .hero-logo-img {
                    max-width: 100%;
                    height: auto;
                    width: 420px;
                }
    
    
}

@media screen and (min-width: 1158px) {
    .container{
        width: 1158px;
    }
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

        /* .menu-open-btn {
            display: none;
        } */
    
        /* .header-logo {
            margin-right: 200px;
        } */
    
        /* .header-list {
            display: flex;
            gap: 30px;
        } */
}